body {
  font-family: Georgia, Times, serif;
}

h1 h2 {
  font-family: Arial, Verdana, sans-serif;
}

.credits {
  font-family: "Courier New", Courier, monospace;
}

/* font family */

/* allows you to specify the typeface that should be used for any text inside the element(s) to which a css rule applies. */


/* the value of the property is the name of the typeface you want to use. */