.credits {
  font-weight: bold;
}

/* font weight: property allows you to create bold text. There are two values that this property commonly takes:


-NORMAL: this causes text to appear at a normal weight.

-BOLD: this causes text to appear bold

*/


